.popup-content {
    width: 300px;
}

.digit { 
    font-size: 40px; 
    color: #fff; 
} 

@media screen and (min-width: 435px) 
{
.btn-reset
{
width: 100%;
}
.BtnGroup.d-flex.width-full 
{

   display: flex !important;
  }
}
  
.popup-content .main-container {
    background-color: #D43B3A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    opacity: 0.9;
}

.popup-content .timer-container {
    width: 80%;
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.9;
    border-radius: 4px;
    font-size: large;
}

.popup-content .button-container {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.popup-content button {
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 5px;
}



.btn 
{
margin-left:0px !important;
}
.btn-pause {
    color: orange !important;
}

.btn-pause:hover {
    color: white !important;
    background-color: orange !important;
}

.btn-reset {
    color: white !important;
}

.btn-reset:hover {
    background-color: red !important;
}


/* Increase specificity to override existing styles */
.BtnGroup.d-flex.width-full .mx-2 {
    margin: 0px !important; /* Change the margin to 0.5rem */
    border-radius: 0px;
}
.btn-primary.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left:-8px;
}
