/* GENERAL STYLES */

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #191919;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

footer {

    background-color: #191919;
    margin-top:100px;
    width: 100%;
    border-top: 6px solid #b9001b;
}

#links
{
    a {
        text-decoration: none;
        color: inherit;
    }
margin: auto;
padding-bottom: 20px;
width: 100%;
color: white;
background-color: #b9001b;
text-decoration: none;
text-align: center;

}

.svg-logo {
    max-height: 60px; /* Maximum height set to 40px */
    margin-right: auto; /* Pushes logo to the left */
    margin-left: 15px
}

/* NAVIGATION BAR STYLES */

.topnav.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.topnav.closing {
    transform: translateX(-100%);
    opacity: 0;
}


.topnav #myLinks {
    display: block; /* Ensure links are visible */
    color: white;
    padding: 10px;
    margin-top: auto; /* Push links to the bottom */
}

.topnav a {
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    font-size: 27px;
    display: block;
}

.topnav a:hover {
    opacity: 0.8;
}

/* TYPOGRAPHY EFFECT */

#home-info {
    background-color:#b9001b;
    padding: 5px 0 5px 0;
    text-align: center;


  }
  
  #home-info h1 {
    text-align: left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid red; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    margin-right:20px;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin-left: 20px;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  
  /* Sections: about, features, team, contact */
.about, .features, .team, .contact {
    background: #fff;
    padding: 30px;
}

/* Flex containers */
.container-1, .container-2, .container-3{
    display: flex; /* Use flexbox for layout */
    align-items: stretch; /* Align items to stretch to match height */
    margin: 20px 0;
}

/* Features section */
.features {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    background-color: #fff;
}

.features h2 {
    font-size: 36px;
}

.features p {
    font-size: 32px;
}


/* Video container */
.video-container {
    flex: 1; /* Take up remaining space */
    margin-left: 20px; /* Add spacing between features and video */
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

.video-container video {
    width: 99%;
    height: 100%; /* Ensure the video fills its container */
    transition: transform .2s ease-in-out; /* Smooth transition */
}


/* Content */

.staff-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures items wrap if necessary */
    margin-bottom: 50px;
}

.staff {
    background-color:#f3f3f3;
    padding: 20px;
    border-radius: 16px;
    width: 42%;
    margin: 0px;
    line-height: 1;
    overflow: hidden; /* Added to clear floats */
    margin: 0 20px 0 20px;
    flex: 1 1 45%; /* Flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box;
}

.staff h1 {
    line-height: 0.5;
}

.staff h2 {
    line-height: 0.9;
}

.staff a:link {
    color: #b9001b;
    background-color: transparent;
    line-height: 1.2;
    font-size: 20px;
}

.staff img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.staff-entry {
    float: right;
    width: calc(100% - 200px); /* Adjust width to fit beside the image */
}

.content {
    margin-left: 15px;
    font-size: 20px;
    font-family: Montserrat;
    flex: 1 1 auto; /* Adjust flex properties as needed */
}

.content p {
    margin: 0; /* Remove margin */
}

#chromestore {
    background-color: rgb(243, 243, 243);
    font-size: 25px;
    width: 96%;
    margin:auto;
    padding-bottom: 80px;
}

#install-button {
    width: 60%;
    border-radius: 5px;
    display: flex;
    margin-left: 80px;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #0073e6; /* Example background color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 26px;
}

#install-button svg {
    margin-right: 8px; /* Adjust spacing between icon and text */
}
/* Chart container */
#chart-container {

    background-color: white;
    width: 40%;
    flex: 2;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

/* Iframes */
iframe {
    background: #F1F5F4;
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}

/* Vertical line */
.vl {
    margin-left: 15px;
    border-left: 3px solid #e00122;
    height: 50px;
}

/* Fixed top navigation */
.topnav {
    position: fixed;
    width: 15%; /* Adjust width as needed */
    height: 100%; /* Ensure it covers the entire height of the viewport */
    z-index: 1;
    background-color: #b9001b; /* Set background color */
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden; /* Hide overflow */
}

/* Grid JS styles */

/* Wrapper */
.gridjs-wrapper {
    border: none !important;
    width:auto !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

/* Header */
.gridjs-head {
    width:auto !important;
    border: none !important;
    box-shadow: none !important;
}

/* Search */
.gridjs-search {
    border-radius: 0px !important;
    width:100% !important;
}

/* Search input */
.gridjs-search-input {
    border-radius: 0px !important;
    width: 100% !important;
}

/* Footer */
.gridjs-footer {
    border: none !important;
    width:auto !important;
    box-shadow: none !important;
    border-top: 4px #3b3b3b solid !important;
}

/* Table */
.gridjs-table {
    border: none !important;
}

/* styles.css */


.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background for container */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}



form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

label {
    color: #333; /* Dark text color for labels */
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Light gray border for inputs */
    border-radius: 5px;
    background-color: #fff; /* White background for inputs */
    color: #333; /* Dark text color for inputs */
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #c0392b; /* Red button background */
    color: #fff; /* White button text */
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a93226; /* Darker red on hover */
}
#issueDemoImage {
    width: 60% ;
}





/* Responsive layout */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .features p {
        font-size: 20px;
    }

    .staff {
        margin-bottom: 20px;
    }
    .container-1, .container-2, .container-3 {
        flex-direction: column; /* Stack items vertically on smaller screens */
 
    }

    #issueDemoImage {
        width: 100% ;
    }

    #chart-container {
        display: none !important;
    }


    .video-container {
        margin-left: 0; /* Remove left margin for full width on smaller screens */
        margin-top: 20px; /* Add top margin for spacing */

    }

    .video:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
      }
}





  